.portfolio {
  background-color: $color-light-dark;
  padding-bottom: 50px;
  .inner {
    .title {
      display: flex;
      // justify-content: center;
      color: $color-white;
    }
    .contents {
      .portfolio-box {
        .teamProject {
          color: $color-white;
          // border-top: 1px solid $color-purple;
          // background-color: $color-purple;
          font-size: xx-large;
          font-weight: bold;
          padding: 0.5rem 0;
          text-decoration-line: underline;
        }
        .portfolio-team {
          margin-bottom: 3rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border-bottom: 1px solid $color-dark-white;
          // margin-bottom: 20px;
          padding: 50px;
          // border: 1px solid $color-light-white;
          // border-radius: 10px;
          // border: 1px solid $color-light-white;
          // box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          // -webkit-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          // -moz-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          .portfolio-left {
            width: calc(50% - 10px);
            text-align: center;
            color: $color-dark-white;
            a {
              display: block;
              img {
                width: 90%;
              }
            }
          }
          .portfolio-right {
            width: calc(50% - 10px);
            display: flex;
            flex-flow: column;
            .right-main {
              display: flex;
              flex-flow: column;
              align-items: center;
              margin-bottom: 25px;
              .team-title {
                font-size: 30px;
                font-weight: $weight-semi-bold;
                color: $color-white-green;
                text-align: center;
              }
              .day {
                font-size: 20px;
              }
              .skill {
                font-size: 22px;
                color: $color-light-white;
                text-align: center;
                // font-weight: $weight-semi-bold;
              }
              .portfolio-btnBox {
                display: flex;
                gap: 1rem;
                margin-top: 0.5rem;
              }
              .portfolio-github {
                color: $color-light-dark;
                font-weight: 800;
                background-color: $color-light-white;
                border: 1px solid $color-light-white;
                padding: 0.5rem;
                border-radius: 0.5rem;
                transition: all 0.2s;
                &:hover {
                  // background-color: $color-white-green;
                  // border: 1px solid $color-white-green;
                  color: $color-purple;
                  scale: 1.1;
                }
              }
            }
            .portfolio-team-list {
              .info-main {
                font-weight: $weight-semi-bold;
                font-size: 18px;
                margin-bottom: 15px;
                color: $color-light-white;
              }
              .info-sub {
                font-size: 18px;
                color: $color-light-white;
              }
            }
          }
        }
        .portfolio-team-last {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border-bottom: none;
          // margin-bottom: 20px;
          padding: 50px;
          // border: 1px solid $color-light-white;
          // border-radius: 10px;
          // border: 1px solid $color-light-white;
          // box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          // -webkit-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          // -moz-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          .portfolio-left {
            width: calc(50% - 10px);
            text-align: center;
            color: $color-dark-white;
            a {
              display: block;
              img {
                width: 90%;
              }
            }
          }
          .portfolio-right {
            width: calc(50% - 10px);
            display: flex;
            flex-flow: column;
            .right-main {
              display: flex;
              flex-flow: column;
              align-items: center;
              margin-bottom: 25px;
              .team-title {
                font-size: 30px;
                font-weight: $weight-semi-bold;
                color: $color-white-green;
                text-align: center;
              }
              .day {
                font-size: 20px;
              }
              .skill {
                font-size: 22px;
                color: $color-light-white;
                text-align: center;
                // font-weight: $weight-semi-bold;
              }
              .portfolio-btnBox {
                display: flex;
                gap: 1rem;
                margin-top: 0.5rem;
              }
              .portfolio-github {
                color: $color-light-dark;
                font-weight: 800;
                background-color: $color-light-white;
                border: 1px solid $color-light-white;
                padding: 0.5rem;
                border-radius: 0.5rem;
                transition: all 0.2s;
                &:hover {
                  // background-color: $color-white-green;
                  // border: 1px solid $color-white-green;
                  color: $color-purple;
                  scale: 1.1;
                }
              }
            }
            .portfolio-team-list {
              .info-main {
                font-weight: $weight-semi-bold;
                font-size: 18px;
                margin-bottom: 15px;
                color: $color-light-white;
              }
              .info-sub {
                font-size: 18px;
                color: $color-light-white;
              }
            }
          }
        }
        .portfolio-flutter {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border-bottom: 1px solid $color-dark-white;
          // margin-bottom: 20px;
          padding: 50px;
          // border: 1px solid $color-light-white;
          // border-radius: 10px;
          // border: 1px solid $color-light-white;
          // box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          // -webkit-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          // -moz-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
          .portfolio-left {
            width: calc(50% - 10px);
            text-align: center;
            a {
              display: block;
              img {
                width: 35%;
              }
            }
          }
          .portfolio-right {
            width: calc(50% - 10px);
            display: flex;
            flex-flow: column;
            .right-main {
              display: flex;
              flex-flow: column;
              align-items: center;
              margin-bottom: 25px;
              .flutter-title {
                font-size: 30px;
                font-weight: $weight-semi-bold;
                margin-bottom: 20px;
              }
              .day {
                font-size: 20px;
              }
              .skill {
                font-size: 22px;
                color: $color-light-pink;
                // font-weight: $weight-semi-bold;
              }
            }
            .portfolio-flutter-list {
              .info-main {
                font-weight: $weight-semi-bold;
                font-size: 18px;
                margin-bottom: 15px;
              }
              .info-sub {
                font-size: 18px;
              }
            }
          }
        }
        .portfolio-slide {
          .swiper-button-next,
          .swiper-button-prev {
            color: $color-dark-pink !important;
          }
          a {
            display: block;
            width: 100%;
            text-align: center;
            img {
              width: 100%;
              transition: transform 100ms ease-in;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          h5 {
            font-size: 20px;
            margin-top: 35px;
          }
          .port-btns {
            display: flex;
            font-size: 20px;
            margin-top: 10px;
            gap: 50px;
            margin: 25px;
            .port-btn {
              padding: 3px;
              background-color: $color-pink;
              text-decoration: none;
              border-radius: 20px;
              color: $color-white;
              display: block;
              transition: transform 100ms ease-in;
              &:hover {
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
  .teamProject {
    padding: 0;
  }
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
    padding-top: 25px;
  }
}
