.profile {
  background-color: $color-light-dark;
  height: calc(100vh - 80px);
  min-height: 750px;
  .inner {
    .profile-title {
      color: $color-white;
    }
    .contents {
      // display: flex;
      // justify-content: space-between;
      .profile-box {
        display: flex;
        width: calc(50% - 10px);
        width: 100%;
        height: auto;
        justify-content: space-around;
        .profile-box-me {
          display: flex;
          flex-flow: column;
          background-color: $color-white-dark;
          width: calc(30%);
          height: 550px;
          padding: 50px;
          border-radius: 10px;
          border: 1px solid $color-white-dark;
          -webkit-box-shadow: 0px 0px 20px -5px rgba(2, 255, 163, 1);
          -moz-box-shadow: 0px 0px 20px -5px rgba(2, 255, 163, 1);
          box-shadow: 0px 0px 20px -5px rgba(2, 255, 163, 1);
          justify-content: space-around;
          align-items: center;
          .profile-imgBox {
            .jaejinImg {
              width: 250px;
              border-radius: 100%;
            }
          }
          .nameBox {
            display: flex;
            // margin-left: 20px;
            font-size: 25px;
            line-height: 25px;
            color: $color-light-white;
            p {
              margin-left: 15px;
              font-weight: $weight-semi-bold;
            }
          }
          .birthBox {
            display: flex;
            // margin-left: 20px;
            font-size: 25px;
            line-height: 25px;
            color: $color-light-white;
            p {
              margin-left: 15px;
              font-weight: $weight-semi-bold;
            }
          }
          .mapBox {
            display: flex;
            // margin-left: 20px;
            font-size: 25px;
            line-height: 25px;
            color: $color-light-white;
            p {
              margin-left: 15px;
              font-weight: $weight-semi-bold;
            }
          }
          .emailBox {
            display: flex;
            // margin-left: 20px;
            font-size: 25px;
            line-height: 25px;
            color: $color-light-white;
            p {
              margin-left: 15px;
              font-weight: $weight-semi-bold;
            }
          }
        }
        .profile-box-intro {
          // background-color: beige;
          width: 65%;
          // height: 550px;
          padding: 50px;
          display: grid;
          .introTop {
            .intro-title {
              padding: 0;
              font-size: $font-medium;
              color: $color-light-white;
            }
            .intro-name {
              font-size: $font-large;
              color: $color-white;
            }
            .intro-mainText {
              font-size: $font-medium;
              color: $color-light-white;
              b {
                color: $color-white-green;
              }
            }
            .intro-subText {
              font-size: $font-regular;
              margin: 30px 0;
              color: $color-dark-white;
            }
          }
          .introBottom {
            display: flex;
            // height: 200px;
            justify-content: space-around;
            padding-top: 10px;
            margin-top: 1rem;
            .education {
              width: 100%;
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              font-size: $font-regular;
              padding-right: 10px;
              color: $color-dark-white;
              div {
                font-size: $font-medium;
                line-height: $font-medium;
                span {
                  margin-left: 15px;
                  color: $color-white;
                }
              }
              .className {
                color: $color-white-green;
              }
            }
            .mbti {
              width: 100%;
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              color: $color-dark-white;
              div {
                font-size: $font-medium;
                line-height: $font-medium;
                span {
                  margin-left: 15px;
                  color: $color-white;
                }
              }
              b {
                color: $color-white-green;
              }
            }
          }
        }
      }
    }
  }
}

// 모바일
@media screen and (max-width: 770px) {
  .introBottom {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-height: 800px) {
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: 1215px) {
  .profile {
    height: 100% !important;
    .inner {
      height: 100% !important;
      .profile-box {
        flex-flow: column;
        width: 100%;
        .profile-box-me {
          margin: auto;
          width: 80% !important;
        }
        .profile-box-intro {
          width: 100% !important;
          // .introTop {
          // }
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  // .profile .contents {
  //   flex-wrap: wrap !important;
  //   .profile-box {
  //     width: 100% !important;
  //   }
  // }
}
@media screen and (max-width: $ssmp) {
  .profile {
    .inner {
      .profile-box {
        .profile-box-me {
          p {
            font-size: $font-regular;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $ssssmp) {
  .profile {
    .inner {
      .profile-box {
        .profile-box-me {
          p {
            font-size: $font-small;
          }
        }
      }
    }
  }
}
