.visual {
  height: calc(100vh - 80px);
  min-height: 650px;
  // background: url('../../public/images/ganagawa.jpg') center/cover;
  .inner {
    height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // background-color: black;
    .intro {
      .intro-title{
        font-size: $font-large;
      }

    }
    .profileImg {
      justify-content: center;
      align-items: center;
      width: 650px;
      border-radius: 100%;
    }
  }
}
