.visual {
  height: calc(100vh - 80px);
  min-height: 650px;
  background: url('../../public/images/backimg.png') center/cover;
  .inner {
    height: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // background-color: black;
    .intro {
      width: 600px;
      .intro-title {
        font-size: 60px;
        font-weight: 500;
        color: $color-white;
        b {
          color: $color-light-purple;
          text-decoration: underline $color-white 4px;
        }
      }
      p {
        font-size: $font-regular;
        font-weight: $weight-semi-bold;
        width: 100%;
        margin-top: 15px;
      }
    }
    .profileImg {
      justify-content: center;
      align-items: center;
      height: 650px;
      border-radius: 100%;
      background-color: $color-white;
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: 1215px) {
  .visual {
    .inner {
      max-width: 1215px;
      display: flex;
      flex-flow: column-reverse;
      justify-content: space-evenly;
      .intro {
        text-align: center;
        .intro-title {
          font-size: $font-large;
        }
      }
      .profileImg {
        height: 60%;
      }
    }
  }
}
@media screen and (max-width: $tablet) {
}
@media screen and (max-width: $mp) {
  .visual {
    .inner {
      max-width: $mp;
      .intro {
        display: flex;
        flex-flow: column;
        align-items: center;
        .intro-title {
          font-size: 40px;
        }
        p {
          width: 90%;
          flex-wrap: wrap;
          font-size: $font-small;
        }
      }
      .profileImg {
        height: 60%;
      }
    }
  }
}
// 모바일
@media screen and (max-width: $smp) {
  .visual {
    .inner {
      max-width: $smp;
      .intro {
        .intro-title {
          font-size: $font-medium;
        }
        p {
          font-size: $font-micro;
        }
      }
      .profileImg {
        height: 60%;
      }
    }
  }
}
// ss모바일
@media screen and (max-width: $ssmp) {
  .visual {
    .inner {
      max-width: $ssmp;
      .intro {
        display: flex;
        flex-flow: column;
        align-items: center;
        .intro-title {
          font-size: $font-regular;
        }
        p {
          width: 75%;
          flex-wrap: wrap;
          font-size: $font-micro;
        }
      }
      .profileImg {
        height: 55%;
      }
    }
  }
}
// ss모바일
@media screen and (max-width: $sssmp) {
  .visual {
    .inner {
      max-width: sssmp;
      .intro {
        display: flex;
        flex-flow: column;
        align-items: center;
        .intro-title {
          font-size: $font-regular;
        }
        p {
          width: 60%;
          flex-wrap: wrap;
          font-size: $font-micro;
        }
      }
      .profileImg {
        height: 50%;
      }
    }
  }
}
