@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

body {
  overflow-x: hidden;
}

legend,
caption {
  position: absolute;
  left: -999999px;
}

fieldset {
  border: none;
}

table {
  border: none;
  border-collapse: collapse;
}
table th,
table td {
  border: none;
}

body {
  font-family: "Noto Sans KR", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
  background-color: #f5f5f5;
  word-break: keep-all;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: #eee;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f25d9c;
  border-radius: 2px;
}

.wrap {
  position: relative;
  display: block;
}

.inner {
  position: relative;
  display: block;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  padding-top: 80px;
}

h2 {
  padding: 50px 0;
  color: #222;
  font-size: 40px;
  font-weight: 500;
}

h3 {
  padding: 30px 0;
  color: #222;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 860px) {
  body {
    max-width: 860px;
  }
}
@media screen and (max-width: 580px) {
  body {
    max-width: 580px;
  }
}
@media screen and (max-width: 525px) {
  body {
    max-width: 525px;
  }
}
@media screen and (max-width: 495px) {
  body {
    max-width: 495px;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  z-index: 9999;
  border-bottom: 1px solid #bdbdbd;
}
.header .inner {
  height: 100%;
}
.header .inner .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .nav .logo {
  width: 200px;
  cursor: pointer;
}
.header .inner .nav .header-logo {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #131313;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
.header .inner .nav .gnb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .nav .gnb li {
  cursor: pointer;
  padding: 0 25px;
}
.header .inner .nav .gnb li span {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #131313;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.5s;
}
.header .inner .nav .gnb li span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #131313;
  transition: width 0.5s;
}
.header .inner .nav .gnb li:hover span {
  color: #000;
}
.header .inner .nav .gnb li:hover span::after {
  width: 100%;
}
.header .inner .nav .mobile-bt {
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .gnb li {
    padding: 0 20px !important;
  }
}
@media screen and (max-width: 860px) {
  .gnb {
    display: none !important;
  }
  .mobile-bt {
    display: block !important;
  }
}
.footer {
  height: 80px;
}
.footer .inner {
  max-width: 100%;
  width: 100vw;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
}
.footer .inner copy {
  font-size: 14px;
}

.gotop {
  position: fixed;
  right: 50px;
  bottom: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #590d82;
  z-index: 9997;
  cursor: pointer;
  font-size: 25px;
  color: #ffffff;
  transition: bottom 0.5s;
}

.active {
  bottom: 100px !important;
}

@media screen and (max-width: 580px) {
  .gotop {
    right: 100px;
  }
}
.mobile {
  position: fixed;
  left: 100%;
  top: 80px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9998;
  transition: left 0.3s ease-in-out;
}
.mobile.active {
  left: 0 !important;
}
.mobile .mobile-menu li {
  padding: 30px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.mobile .mobile-menu li span {
  font-size: 30px;
}
.mobile .mobile-menu li:hover span {
  color: #000;
}

.visual {
  height: calc(100vh - 80px);
  min-height: 650px;
  background: url("../../public/images/backimg.png") center/cover;
}
.visual .inner {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.visual .inner .intro {
  width: 600px;
}
.visual .inner .intro .intro-title {
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
}
.visual .inner .intro .intro-title b {
  color: #7912b0;
  -webkit-text-decoration: underline #ffffff 4px;
          text-decoration: underline #ffffff 4px;
}
.visual .inner .intro p {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 15px;
}
.visual .inner .profileImg {
  justify-content: center;
  align-items: center;
  height: 650px;
  border-radius: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 1215px) {
  .visual .inner {
    max-width: 1215px;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-evenly;
  }
  .visual .inner .intro {
    text-align: center;
  }
  .visual .inner .intro .intro-title {
    font-size: 48px;
  }
  .visual .inner .profileImg {
    height: 60%;
  }
}
@media screen and (max-width: 860px) {
  .visual .inner {
    max-width: 860px;
  }
  .visual .inner .intro {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .visual .inner .intro .intro-title {
    font-size: 40px;
  }
  .visual .inner .intro p {
    width: 90%;
    flex-wrap: wrap;
    font-size: 16px;
  }
  .visual .inner .profileImg {
    height: 60%;
  }
}
@media screen and (max-width: 580px) {
  .visual .inner {
    max-width: 580px;
  }
  .visual .inner .intro .intro-title {
    font-size: 28px;
  }
  .visual .inner .intro p {
    font-size: 14px;
  }
  .visual .inner .profileImg {
    height: 60%;
  }
}
@media screen and (max-width: 525px) {
  .visual .inner {
    max-width: 525px;
  }
  .visual .inner .intro {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .visual .inner .intro .intro-title {
    font-size: 18px;
  }
  .visual .inner .intro p {
    width: 75%;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .visual .inner .profileImg {
    height: 55%;
  }
}
@media screen and (max-width: 495px) {
  .visual .inner {
    max-width: sssmp;
  }
  .visual .inner .intro {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .visual .inner .intro .intro-title {
    font-size: 18px;
  }
  .visual .inner .intro p {
    width: 60%;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .visual .inner .profileImg {
    height: 50%;
  }
}
.profile {
  background-color: #ffffff;
  height: calc(100vh - 80px);
}
.profile .inner .profile-title {
  color: #f25d9c;
}
.profile .inner .contents .profile-box {
  display: flex;
  width: calc(50% - 10px);
  width: 100%;
  height: auto;
  justify-content: space-around;
}
.profile .inner .contents .profile-box .profile-box-me {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  width: 30%;
  height: 550px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
  -webkit-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
  -moz-box-shadow: 10px 10px 12px -3px rgba(242, 93, 156, 0.2);
  justify-content: space-around;
  align-items: center;
}
.profile .inner .contents .profile-box .profile-box-me .profile-imgBox .jaejinImg {
  width: 250px;
  border-radius: 100%;
}
.profile .inner .contents .profile-box .profile-box-me .nameBox {
  display: flex;
  font-size: 25px;
  line-height: 25px;
}
.profile .inner .contents .profile-box .profile-box-me .nameBox p {
  margin-left: 15px;
  font-weight: 600;
}
.profile .inner .contents .profile-box .profile-box-me .birthBox {
  display: flex;
  font-size: 25px;
  line-height: 25px;
}
.profile .inner .contents .profile-box .profile-box-me .birthBox p {
  margin-left: 15px;
  font-weight: 600;
}
.profile .inner .contents .profile-box .profile-box-me .mapBox {
  display: flex;
  font-size: 25px;
  line-height: 25px;
}
.profile .inner .contents .profile-box .profile-box-me .mapBox p {
  margin-left: 15px;
  font-weight: 600;
}
.profile .inner .contents .profile-box .profile-box-me .emailBox {
  display: flex;
  font-size: 25px;
  line-height: 25px;
}
.profile .inner .contents .profile-box .profile-box-me .emailBox p {
  margin-left: 15px;
  font-weight: 600;
}
.profile .inner .contents .profile-box .profile-box-intro {
  width: 65%;
  padding: 50px;
  display: grid;
}
.profile .inner .contents .profile-box .profile-box-intro .introTop .intro-title {
  padding: 0;
  font-size: 28px;
}
.profile .inner .contents .profile-box .profile-box-intro .introTop .intro-name {
  font-size: 48px;
}
.profile .inner .contents .profile-box .profile-box-intro .introTop .intro-mainText {
  font-size: 28px;
}
.profile .inner .contents .profile-box .profile-box-intro .introTop .intro-mainText b {
  color: #f68cb9;
}
.profile .inner .contents .profile-box .profile-box-intro .introTop .intro-subText {
  font-size: 18px;
  margin: 30px 0;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .education {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 18px;
  padding-right: 10px;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .education div {
  font-size: 28px;
  line-height: 28px;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .education div span {
  margin-left: 15px;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .education .className {
  color: #f68cb9;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .mbti {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .mbti div {
  font-size: 28px;
  line-height: 28px;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .mbti div span {
  margin-left: 15px;
}
.profile .inner .contents .profile-box .profile-box-intro .introBottom .mbti b {
  color: #f68cb9;
}

@media screen and (max-width: 1215px) {
  .profile {
    height: 100% !important;
  }
  .profile .inner {
    height: 100% !important;
  }
  .profile .inner .profile-box {
    flex-flow: column;
    width: 100%;
  }
  .profile .inner .profile-box .profile-box-me {
    margin: auto;
    width: 80% !important;
  }
  .profile .inner .profile-box .profile-box-intro {
    width: 100% !important;
  }
}
@media screen and (max-width: 525px) {
  .profile .inner .profile-box .profile-box-me p {
    font-size: 18px;
  }
}
.skills {
  height: 100vh;
}
.skills .inner {
  margin-bottom: 100px;
}
.skills .inner .contents .skills-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills .inner .contents .skills-list li {
  display: grid;
  width: 25%;
  text-align: center;
  margin: 15px 0;
}
.skills .inner .contents .skills-list li img {
  width: 40%;
  margin: auto;
}
.skills .inner .contents .skills-list li .skill {
  margin: auto;
  width: 70%;
}
.skills .inner .contents .skills-list li .skill .skill-description {
  display: flex;
  justify-content: space-between;
}
.skills .inner .contents .skills-list li .skill .skill-bar {
  width: 100%;
  height: 4px;
  background-color: #bdbdbd;
}
.skills .inner .contents .skills-list li .skill .skill-bar .skill-value {
  height: 4px;
  background-color: #f25d9c;
}

@media screen and (max-width: 960px) {
  .skills {
    height: 100%;
  }
}
@media screen and (max-width: 860px) {
  .skills-list li {
    width: 50% !important;
  }
}
.portfolio {
  background-color: #ffffff;
  padding-bottom: 50px;
}
.portfolio .inner .title {
  display: flex;
}
.portfolio .inner .contents .portfolio-box .portfolio-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
  padding: 50px;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-left {
  width: calc(50% - 10px);
  text-align: center;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-left a {
  display: block;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-left a img {
  width: 90%;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right {
  width: calc(50% - 10px);
  display: flex;
  flex-flow: column;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right .right-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 25px;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right .right-main .team-title {
  font-size: 30px;
  font-weight: 600;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right .right-main .day {
  font-size: 20px;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right .right-main .skill {
  font-size: 22px;
  color: #f68cb9;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right .portfolio-team-list .info-main {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
.portfolio .inner .contents .portfolio-box .portfolio-team .portfolio-right .portfolio-team-list .info-sub {
  font-size: 18px;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
  padding: 50px;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-left {
  width: calc(50% - 10px);
  text-align: center;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-left a {
  display: block;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-left a img {
  width: 35%;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right {
  width: calc(50% - 10px);
  display: flex;
  flex-flow: column;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right .right-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 25px;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right .right-main .flutter-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right .right-main .day {
  font-size: 20px;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right .right-main .skill {
  font-size: 22px;
  color: #f68cb9;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right .portfolio-flutter-list .info-main {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
.portfolio .inner .contents .portfolio-box .portfolio-flutter .portfolio-right .portfolio-flutter-list .info-sub {
  font-size: 18px;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide .swiper-button-next,
.portfolio .inner .contents .portfolio-box .portfolio-slide .swiper-button-prev {
  color: #ee2e7f !important;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide a {
  display: block;
  width: 100%;
  text-align: center;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide a img {
  width: 100%;
  transition: transform 100ms ease-in;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide a img:hover {
  transform: scale(1.1);
}
.portfolio .inner .contents .portfolio-box .portfolio-slide h5 {
  font-size: 20px;
  margin-top: 35px;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide .port-btns {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  gap: 50px;
  margin: 25px;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide .port-btns .port-btn {
  padding: 3px;
  background-color: #f25d9c;
  text-decoration: none;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  transition: transform 100ms ease-in;
}
.portfolio .inner .contents .portfolio-box .portfolio-slide .port-btns .port-btn:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 960px) {
  .teamProject {
    padding: 0;
  }
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
    padding-top: 25px;
  }
}
.vision .inner .contetents .vision-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
}
.vision .inner .contetents .vision-list li {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #7912b0;
  border-radius: 15px;
  padding: 20px;
  word-break: break-all;
}
.vision .inner .contetents .vision-list li span {
  display: block;
  padding-bottom: 10px;
}
.vision .inner .contetents .vision-list li span b {
  color: #f68cb9;
  font-size: 1.2rem;
}

@media screen and (max-width: 860px) {
  .vision-list {
    flex-wrap: wrap;
  }
}
.life .inner .contents .life-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.life .inner .contents .life-list li {
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
}
.life .inner .contents .life-list li img {
  width: 90%;
}

@media screen and (max-width: 860px) {
  .life-list li {
    width: 50% !important;
  }
}
::-moz-selection {
  color: #f25d9c;
}
::selection {
  color: #f25d9c;
}/*# sourceMappingURL=style.css.map */